/* Geral */
.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Navbar */
header, .navbar {
    background-color: #353d41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    margin: 1;
    width: 55px;
    height: 40px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}
/* Navbar */
/* Carrosel */
main {
    text-align: center;
    background: black;
}

/*  */
article {
    background-color: #f9f9f9;
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

p#letrawar {
    font-size: 22px;
}
/* Criar borda em baixo do SOBRE O EVENTO */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}


.service-box h4 {
    font-size: 23px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: red;
}

/* DADOS */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Time */
.card {
    text-align: center;
}

