/* Geral */
.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Navbar */
header, .navbar {
    background-color:black;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    margin: 1;
    width: 55px;
    height: 40px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}
/* Navbar */
/* Carrosel */
main {
    text-align: center;
    background: black;
}

/*  */
article {
    background-color: #f9f9f9;
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

p#letrawar {
    font-size: 20px;
    text-align: justify;
}
/* Criar borda em baixo do SOBRE O EVENTO */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}


.service-box h4 {
    font-size: 23px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: red;
}

/* DADOS */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Time */
.card {
    text-align: center;
}




/* Footer provisório */
:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer {
    font-family: 'Sarala', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutral-40);

}

.footer_link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.img-logo-rodape {
    height: 100px;
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_content p{
    margin: 0px;
    padding: 0px;
    text-align: initial;
}

#footer_social_media .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer_link i {
    font-size: 1.25rem;
}

#footer_social_media .footer_link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #f2cb07;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.img-logo-rodape {
    height: 25px;
    width: 35px;
}